body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(103, 147, 197);
}

#gameArea {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: rgb(103, 147, 197);
}

#circle {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(219, 103, 61);
    border-radius: 50%;
    left: 50px;
    top: 50px;
}

.square {
    position: absolute;
    width: 50px;
    height: 50%;
    background-color: rgb(197, 103, 169);
}

.small-circle {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: grey;
    border-radius: 50%;
}

